<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template HTML/CSS</title>
    <link rel="stylesheet" href="template/styles.css">
    <!--<link rel="stylesheet" href="template/media-queries.css">-->
</head>
<body>
   <div id="bg">
        <div id="main">
            <header>
                <section id="header_top">header_top</section>
                <section id="header_centre">header_centre</section>
                <section id="header_bottom">header_bottom</section>
            </header>
            <section id="left">
                <img src="../images/loup.jpg" alt="loup" width="600" height="150">
                <h2 style="text-align: center;">Mon titre</h2>
                <p>auteur</p>
                <div class="picture">
                    <img src="../images/loup.jpg" alt="loup" width="180">
                    <img src="../images/loup.jpg" alt="loup" width="180">
                    <img src="../images/loup.jpg" alt="loup" width="180">
                </div>
                <div class="title">
                    <h3>titre1</h3>
                    <h3>titre2</h3>
                    <h3>titre3</h3>
                </div>
            </section>
            <section id="right">rigth</section>

            <!-- arrêt du flottement -->
            <div class="clearfix"></div>
            <footer>footer</footer>
        </div>
   </div> 
</body>
</html>