<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Template HTML/CSS</title>
    <link rel="stylesheet" href="template/styles.css">
    <link rel="stylesheet" href="template/media-queries.css">
</head>
<body>
   <div id="bg">
        <div id="main">
            <header>
                <section id="header_top">header_top</section>
                <section id="header_centre">header_centre</section>
                <section id="header_bottom">header_bottom</section>
            </header>
            <section id="left">left</section>
            <section id="right">rigth</section>

            <!-- arrêt du flottement -->
            <div class="clearfix"></div>
            <footer>footer</footer>
        </div>
   </div> 
</body>
</html>